
.open-sans-normal {
     font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-size: 20;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;

  }
  /* nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    border-radius: 5px;
}

  .nav-title{
font-weight: 800;
font-size: 45px;
  }
  /* shared styles*/
  .text-primary{
    color:#FD6E0A ;
  }
  nav ul li {
    list-style: none;
    margin-right: 50px;
    

  }
  nav li a {
    text-decoration: none;
}
.dark-2{
    color:#474747 ;
}
nav ul{
    display: flex;
    align-items: center;
}
/*header*/
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/*banner styles*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
font-weight: bold;
font-size: 85px;
}
.banner-description{
    font-size: 18px;

}

.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}
