
.open-sans-normal {
     font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-size: 20;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px

  }
  /* nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    border-radius: 5px;
}

  .nav-title{
font-weight: 800;
font-size: 45px;
  }
  /* shared styles*/
  .text-center{
    text-align: center;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }

  .text-primary{
    color:#FD6E0A ;
  }
  nav ul li {
    list-style: none;
    margin-right: 50px;
    

  }
  nav li a {
    text-decoration: none;
}
.dark-2{
    color:#474747 ;

}

.dark-3{
    color: #757575;
}
nav ul{
    display: flex;
    align-items: center;
}
/*header*/
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/*banner styles*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
font-weight: bold;
font-size: 85px;
}
.banner-description{
    font-size: 18px;

}

.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

.section-title{

    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color:#757575 ;

}
/*border styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;


}
.about-items{
    display: flex;
    justify-content:space-around;

    
}
.item-description{
    font-weight: 600;
}
/*main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130ppx;
    margin-bottom: 130px;

}

/*skill section styles*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/*resume styles*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight:600 ;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.experience-title{
    margin: 10px;
}
.download-cv{
    margin: 50px;
}

/*footer styles*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
 footer input[type="text"],footer input[type="email"],textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}